html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	width:100%;
}
li {
    display: inline;
}
a{
	color:#fff;
	text-decoration:none;
}
/*header*/
.header-links{
	background-color:#005675;	
}
li{
	height:34px;
}
header{
	background-color: #006991;	
}
.help-top{
	color:#fff;	
}
/*end-header*/


/*footer*/
footer{
	background-color: #006991;
	color:#fff;
	padding:40px;	
}
.footer-bottom{
	background-color:#005675;
	color:#fff;
}
.footer-bottom p{
	padding:5px;	
}
.box-all h5 {
    font-size: 23px;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    padding: 10px;
}
.contact-left {
    float: left;
    width: 10%;
    padding: 10px;
    font-size: 30px;
}
.contact-right {
    float: right;
    width: 90%;
    font-size: 15px;
}
footer p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: #fff;
}
.contact-right p:first-child {
    font-weight: bold;
}
/*end-footer*/

/*index*/
.what-we-do h1{
	color: #444444;
	font-size:48px;
	font-weight:800;
	line-height:64px;
	margin-bottom:20px;
	text-align:center;
	font-family: sans-serif;
	margin-top: 30px;
}

/*end-index*/