html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
.col-md-6{
	padding:5px;	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
p{
	margin: 14px 0px 12.5px;
	font-size: 16px;
	line-height: 1.5625;
	color: #31353d;	
}
td a{
	color:#008AFD;	
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
label {
    padding: 7px 13px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	width:100%;
	font-family: 'Lato', sans-serif;
	color:#838386;
	background-color: #f5f5f5;
	font-size: 16px;
	line-height: 1.42857;
}
li {
    display: inline;
}
a{
	color:#fff;
	text-decoration:none;
}
.button{
	font-weight: 500;
	letter-spacing: 0.12em;
	text-transform: uppercase;
	border-radius:35px;
	padding: 14px 38px;
}
a:hover{
	color:#fff;
	text-decoration:none;	
}
h1{
	font-size: 40px;	
}
h3{
	font-size: 34px;
}
h3,h1{
	line-height: 1.43478;
	font-weight: 700;
	color: #25252c;
	letter-spacing: .02em;	
}
/*header*/
.navbar{
	background-color:#585858;	
}
.site-header-links {
    background-color: #005675;
}
.site-header-links .container {
    text-align: right;
}
.site-header-links ul {
    display: inline-block;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 34px;
}
.site-header-links ul > li {
    display: inline-block;
    height: 100%;
    line-height: 100%;
    margin-right: 0;
    border-right: 1px solid #2A2A2A;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
}
.site-header-links ul > li a {
    color: #fff;
    display: block;
    width: 100%;
    padding: 7.5px 8px 7.5px;
}
.navbar{
	color: #fff;
	padding:0;
	background: #272727;
	border-bottom: 3px solid #2ebdff;
}
.navbar li:hover{
	background: #2ebdff;
}
.navbar-nav.mr-auto{
	margin:0 auto;	
}
li.nav-item{
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #727272;
	text-transform:uppercase;
}
.top{
	background-image:url(../img/top.jpg);
	background-repeat: no-repeat;
	width: 100%;
	background-size: cover;	
	background-position:top;
	display:flex;
	justify-content: space-around;
	align-items: center;
}
.top a{
    display: inline-block;
    padding: 0;
    margin: 0;
	width: 30%;
	padding: 15px;
}

.pp-logo img {
    width: 30%;
	float: right;
}
.menu li{
	padding:5px;	
}
.site-header-links .dropdown a{
	background-color: #005675;	
}
.site-header-links .dropdown-menu{
	padding:0;
}
a.language-link img{
	width: 46px;
	height: 20px;	
}
ul.language li.nav-item.dropdown.show div.dropdown-menu.show{
	min-width:1px;	
}
.navbar-brand img{
	padding:20px 10px 10px 45px;
	width: 100%;
	float: left;	
}

/*end-header*/


/*footer*/
footer{
	background-color: #006991;
	color:#fff;
	padding:40px;	
}
.footer-bottom{
	background-color:#005675;
	color:#fff;
}
.footer-bottom p{
	padding:5px;	
}
.box-all h5 {
    font-size: 23px;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    padding: 10px;
}
.contact-left {
    float: left;
    width: 10%;
    padding: 10px;
    font-size: 30px;
}
.contact-right {
    float: right;
    width: 90%;
    font-size: 15px;
}
footer p {
    text-align: center;
    padding: 10px 0;
    margin: 0;
    color: #fff;
}
.contact-right p:first-child {
    font-weight: bold;
}
p.words{
	font-weight:bold;
	font-size:18px;
}
footer img{
	width:120px;
	margin:20px;	
}
footer ul{
	margin-top:30px;	
}
footer li{
	font-weight:bold;
	display:block;
	text-align:center;
	padding:10px;
}
/*end-footer*/

/*index*/
.what-we-do{
	text-align:center;
	padding:30px;	
}
.what-we-do h1{
	color: #444444;
	font-size:48px;
	font-weight:800;
	line-height:64px;
	margin-bottom:20px;
	font-family: sans-serif;
	margin-top: 30px;
}
.pretext{
	margin: 0 auto 72px;
	max-width: 540px;
	padding-bottom: 28px;
	position: relative;	
}
.pretext::after{
	content:"";
	bottom:0;
	border-top: 4px solid #444;
	width:100%;
	max-width:157px;
	position:absolute;
	left:50%;
	margin-left: -78px;
}
.img-we-do{
	margin-bottom: 28px;
}
.img-we-do i{
	width: 146px;
	height: 146px;
	border: 2px solid #9ad905;
	border-radius: 50%;
	font-size: 80px;
	padding: 36px;
	height: auto;
	vertical-align: middle;
}
h4.item-title{
	font-size:18px;
	font-weight:bold;
	margin-bottom:10px;
	text-transform:uppercase;
}
.into-we-do p{
	padding-bottom:20px;		
}
.projekct-items{
	margin-bottom:35px;	
}
.item_img a{
	position:relative;
	display:inline-block;
	max-width:100%;
	overflow:hidden;	
}
.video-survey{
	background:#f4f4f4;
	border-top: 1px solid #dfdfdf;
	padding-top: 75px;
	padding-bottom: 90px;
}
.video-survey h4{
		
}
.who-we-are{
	padding-bottom: 75px;
	padding-top: 90px;	
}
small{
	font-size:14px;
	line-height:22px;
	color: #445878;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing: .08em;	
}
.who-we-are h2,.video-survey h4{
	letter-spacing:.06em;
	color: #1a1e26;
	margin-top:13px;
	font-weight:bold;	
}
.who-we-are h2{
	font-size:44px;
}
.video-survey h4{
	font-size:30px;
	padding-bottom:20px;	
}
.who-we-are p{
	margin-top:32px;	
}
.video-survey iframe{
	width:100%;
	height:100%;	
}
.carousel-inner{
	height: 85vh;
}
.carousel-caption{
	bottom:50%;
}
/*end-index*/

/*contact*/
.contact{
	padding:100px 0;	
}
.divider{
	background:#006991;
	display:inline-block;
	height:3px;
	max-width:100px;
	width:100%;
}
form {
    padding-top: 40px;
}
.form-control, .form-control:hover{
	background-color: #fff;
	border: 0px solid #f2f3f9;
	border-radius: 35px;
	line-height: 24px;
	color: #25252c;	
	min-height: 60px;
	padding: 18px 25px;
	font-weight: 300;
}
address h4{
	color:#000;
	font-weight:bold;	
}
address{
	padding:10px;	
}
address p{
	font-size:18px;	
}
/*end-contact*/

/*O zakladzie*/
.box-single-all, .box-sidebar{
	padding:20px;
	border-radius:20px;
	background:#fff;
	margin-bottom:20px;		
}


/*end-O-zakladzie*/

/*rekrutacja*/
.box-single-all li{
	list-style-type:disc;
	padding:5px 10px;
	display:block;
}
/*end-rekrutacja*/

/*top-imgage*/
.top-img{
	width:100%;
	height:80vh;
	position:relative;
	overflow:hidden;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;	
}
.top-img img{
	width:100%;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-position:center center;
	background-size:cover;	
}
.box-all-margin{
	margin-top:20px;	
}
.top-img .words-box{	
	position: relative;
	z-index: 3;
	color: #f5f5f5;
	margin: auto;
	font-family: "Exo 2",sans-serif;
	font-weight: 500;
	font-size: 100px;
	text-shadow: 3px 1px 3px rgba(0,0,0,.9);
	text-transform:uppercase;
}
/*end-top-image*/

/*Kadra*/
.kadra-box{
	position:relative;
	height: 300px;
	vertical-align: middle;
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;	
	overflow:hidden;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	align-items: center;
}
.img-kadra-box{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background-position:center center;
	background-size:cover;
	
}
.background-kadra-box{
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 3;
	background-color: rgba(0,0,0,.9);
}
.img-kierownik{
	background:url(../img/pozadane-cechy-kierownika.jpg);	
}
.img-nauczyciele{
	background:url(../img/785810-.jpg);	
}
.words-kadra-box{
	position: relative;
	z-index: 3;
	color: #f5f5f5;
	margin: auto;
	font-family: "Exo 2",sans-serif;
	font-weight: 500;
	font-size: 30px;
	text-shadow: 0 0 3px rgba(0,0,0,.7);	
}
.background-kadra-box{
	opacity: .2;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;	
}
/*end-kadra*/
#scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 20px;
    opacity: 0.7;
    background: rgb(0,0,0);
        background-color: rgb(0, 0, 0);
    width: 50px;
    height: 50px;
    border-radius: 11px;
    padding: -19.5px;
    background-color: #666;
    text-align: center;
    font-size: 30px;
    transition: background-color .1s ease-out,transform .2s ease-out,opacity .1s ease-out;
    transform: rotate(-11deg);
    transform-origin: bottom left;
    display: block;
}
#scroll-to-top:hover{
    opacity:1;
}